@charset "utf-8";
/* wclab.js用スタイル */
.wchide {
	visibility: hidden;
}

/* 汎用クラス */
.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.red {
	color: #FF0000;
}

.small {
	font-size: 83%;
}

.big {
	font-size: 117%;
}

.bold {
	font-weight: bold;
}

.taright {
	text-align: right;
}

.taleft {
	text-align: left;
}

.tacenter {
	text-align: center;
}

.justify {
	text-align: justify;
	text-justify: distribute-all-lines;
}

.justify:after {
	content: url(../img/blank2.gif);
}

.ib {
	display: inline-block;
	text-align: left;
}

* html .ib {
	display: inline;
	zoom: 1;
}
*:first-child+html .ib {
	display: inline;
	zoom: 1;
}
